# Override defconfig here

# do not use, to keep module compat
# CONFIG_LOCALVERSION="-Jellybean"

# CONFIG_DEBUG_FS=y
CONFIG_ARM_THUMBEE=y

# CONFIG_KERNEL_LZMA=y
# CONFIG_KERNEL_LZO=y
CONFIG_KERNEL_ZCACHE=y
CONFIG_KERNEL_XZ=y
CONFIG_CLEANCACHE=y
CONFIG_SLAB=y
CONFIG_SNAPPY_COMPRESS=y
CONFIG_SNAPPY_DECOMPRESS=y
CONFIG_ZRAM_SNAPPY=y
